<div>
 <span>
     <P>Title:</P>
     <P><%= @book.title %></P>
 </span>

 <span>
     <P>Body:</P>
     <P><%= @book.body %></P>
 </span>


 <span>
     <%= link_to 'Edit', edit_book_path(@book.id) %>
<!EditのURLは大丈夫か？---->
     " | "
     <%= link_to 'Back', "/books" %>
 </span>

</div>